<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">

<!--    This Thymeleaf template holds the View for the chatroom itself.                                             -->
<!--    This page, like all views in app should, uses the default decorator (default.html) as it's layout decorator.-->
<!--                                                                                                                -->
<!--    With this View the user can:                                                                                -->
<!--        a. Send a message to all other users in the chatroom - see  chat-client.js                              -->
<!--        b. Use Various Searches - see searches.js                                                               -->
<!--                                                                                                                -->
<!--                                                                                                                -->
<!--   Controllers can pass a variable called "messages"  - a list of Message objects                               -->
<!--   These Messages will be the first messages to be displayed when entering the page                             -->
<!--                                                                                                                -->
<!--   As well Controllers can pass a variable called "users"  - a list of User objects                             -->
<!--   These Users will be the first users to be displayed when entering the page                                   -->
<!--                                                                                                                -->
<!--   The "username"  variable should be passed as well - a String                                                 -->
<!--   This is the username of the current user to be displayed                                                     -->
<head>
    <title>Chat App Template</title>
</head>
<body>
  <div layout:fragment="content">
      <div id="search-area">
          <div class="pt-5 row justify-content-center h-100">
              <div class="col-md-8 col-xl-7">
                  <!--                Searches section                  -->
                  <div class="input-group mb-3">
                      <input id="username-search" type="text" class="form-control"
                             placeholder="Username-Search" aria-label="Username-Search">
                      <button class="fas fa-search search-button" onclick="user_search()" title="Search for messages of a particular user"> </button>
                      <input id="word-search" type="text" class="form-control"
                             placeholder="Word-Search" aria-label="Word-Search">
                      <button class="fas fa-search search-button" onclick="word_search()" title="Search for Messages containing a word/sub-string"></button>
                      <button class="fas fas fa-sync-alt" onclick="back_to_messages()" title="Clear search results">Clear search</button>
                      <a href="/logout" type="button" class="">
                          <button class="fas fa-sign-out-alt" title="Logout"></button>
                      </a>

                  </div>
              </div>
          </div>
      </div>
      <div id="chat-area">
          <div class="row justify-content-center h-100">
              <!--                Messages section                  -->
              <div class="col-md-6 col-xl-5">
                  <div class="card">
                      <div class="card-header">
                          <div class="d-flex bd-highlight">
                              <div class="chat-summary">
                                  <span>Welcome </span> <span th:text="${username}" id="username-holder"></span>
                              </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <ul id="message-list">
                              <th:block th:each="msg : ${messages}">
                                  <li th:text="${msg.getUsername()} + ': ' + ${msg.getMessage()}">:</li>
                              </th:block>
                          </ul>
                          <ul id="search-message-list" hidden="hidden" >
                              <!--  Search results will go here -->
                          </ul>
                      </div>
                      <div class="input-group mb-3">
                            <textarea id="message-input" class="form-control" placeholder="Type your message..."
                                      aria-label="Message" required=required ></textarea>
                            <button id="message-send-button" class="fas fa-paper-plane send-button" onclick="sendMessage()" title="Send a message"></button>
                      </div>
                  </div>
              </div>
              <!--                Users section                     -->
              <div class="col-md-2 col-xl-2">
                  <div class="card">
                      <div class="card-header">
                          <span>Active Users: </span>
                      </div>
                      <div class="card-body">
                          <ul id="user-list">
                              <th:block th:each="user : ${users}">
                                  <li th:text="${user.getUsername()} " class="fas fa-user"></li>
                              </th:block>
                          </ul>
                      </div>
                      <div class="input-group mb-3" ></div>
                  </div>
              </div>
          </div>
      </div>

<!--                JavaScript section                               -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.js"
              integrity="sha512-lyIq9fRcCeSCXhp41XC/250UBmypAHV8KW+AhLcSEIksWHBfhzub6XXwDe67wTpOG8zrO2NAU/TYmEaCW+aQSg=="
              crossorigin="anonymous"
              th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.js}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
              integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
              crossorigin="anonymous"
              th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
      <script type="text/javascript" src="../static/js/chat-client.js"
              th:src="@{/js/chat-client.js}"></script>
      <script th:src="@{/js/searching.js}"></script>
</div>
</body>
</html>
