<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--             This is the default layout for all views in this application                   -->
<!--                 **** All view should use this layout to keep the style centralized.   ***  -->
<!--                                                                                            -->
<!--             The Header and footer are kept separately as fragments - see fragments.html    -->
<!--              ( The css and bootstrap are in head fragment )                                -->
<head th:replace="fragments :: head">
    <title> head goes here </title>
</head>
<body>
    <div class="row justify-content-center h-100"
         layout:fragment="content">
            <p>content Goes Here</p>
    </div>
    <div th:replace="fragments :: footer">
        <p>footer Goes Here</p>
    </div>
</body>
</html>
